<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PHPSailors App</title>
</head>
<body>
    <h1>Welcome,</h1>
    <p>This is a barebone app using Symfony's router and Twig for templating in a standalone PHP project.</p>
    <h2>Here is a list of products from the database</h2>
    <ul>
    {% for product in products %}
        <li>{{ product.denumire_produs  }}</li>
    {% endfor %}
    </ul>

</body>
</html>