.blue-bg{
    background-color:#326e98;
}
.loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid blue;
    border-right: 9px solid green;
    border-bottom: 9px solid red;
    border-left: 9px solid pink;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.tableUsers td{
  max-width:100px;
  word-break: break-word;
}
.select-200{
  max-width:200px;
}
.hidden{
  display:none;
}
.bg-blue{
  background-color:#2262a2!important;
}
.bg-setup{
  background-color: #2262a2!important;
  color: whitesmoke;
}
#radioBtn .notActive{
  color: #3276b1;
  background-color: #fff;
}
.smooth-box{
  box-shadow: 3px 3px 20px #bbbbbb;
  border: 1px solid #b7b7b7;
}